/** GENERALES */

html {
    box-sizing: border-box;
    height: 100%;
  }
  *,*:before,*:after {
    box-sizing: inherit;
  }
* {
    margin: 0;
    padding: 0;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
body {
    background-color: #6fa8dc;
    font-family: cursive;
    height: 100%;
}
header {
    background-color: #085394;
    height: 80px;
    width: 100%;
    border: 2px solid #274e13;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.formulario {
    position: fixed;
    top: 0;
}
h1 {
    margin-right: 2%;
}
header img {
    width: 130px;
    margin-left: 2%;
}
h2 {
    text-align: center;
}
footer {
    background-color: #085394;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #274e13;
}
/* footer.formulario {

} */
footer p {
    text-align: center;
}

/** INICIO DE SESIÓN */

.contenedor-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.contenido {
    background-color: #9fc5f8;
    width: 95%;
    margin: 0 auto;
    height: 300px;
    padding: 25px;
    border: 2px solid #085394;
}
div.contenido h2 {
    margin: 15px 0 40px;
}
form label {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}
label span {
    background-color: #6fa8dc;
    border: 2px solid #274e13;
    margin-right: 20px;
}
span.usuario{
    padding: 0 20px;
}
span.contraseña {
    padding: 0 7px;
}
label input {
    border: 2px solid #6aa84f;
    padding: 5px;
}
.button {
    background-color: #6aa84f;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 4px 20px;
    /* border: none; */
    border: 2px solid #274e13;
}
.button:hover {
    background-color: #274e13;
    cursor: pointer;
}
.button:active {
    transform: scale(.9);
}
@media only screen and (min-width:500px) {
    h1 {
        margin-right: 30px;
    }
    header img {
        margin-left: 30px;
    }
    div.contenido {
        width: 400px;
    }
}

/** PÁGINA PRINCIPAL **/

div.contenido-actual {
    background-color: #999999;
    border: 2px solid #085394;
}
main {
    height: 100%;
}
div.contenedor {
    height: 100%;
}
aside {
    background-color: #597eaa;
    height: 100%;
}
aside img {
    width: 120px;
}
@media only screen and (min-width:500px) {
    aside {
        float: left;
        width: 180px;
    }
    section {
        float: right;
    }
}
