html {
    box-sizing: border-box;
  }
  *,*:before,*:after {
    box-sizing: inherit;
  }
* {
    margin: 0;
    padding: 0;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
body {
    background-color: #6fa8dc;
    font-family: cursive;
}

/** Globales */

div.contenedor {
    /* width: 98%; */
    /* max-width: 1100px; */
    min-height: 100vh;
    /* margin: 0 auto; */
}
/* @media only screen and (min-width:480px) {
    div.contenedor {
        width: 95%;
    }
}
@media only screen and (min-width: 768px) {
    div.contenedor {
        width: 90%;
    }
} */
.seccion {
    padding: 30px;
}
h2 {
    text-align: center;
}
ul {
    list-style: none;
}

/** Header **/
header {
    background-color: #085394;
    border: 2px solid #274e13;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.contenido-header {
    padding: 5px;
}
h1 {
    margin-right: 3vw;
}
header img {
    width: 130px;
    margin: 0 auto;
    display: block;
}
@media only screen and (min-width:410px) {
    h1 {
        float: left;
    }
    header img {
        margin: 0;
    }
}
@media only screen and (min-width:1100px) {
    h1 {
        font-size: 3vw;
    }
    header img {
        width: 11.5vw;
    }
}

/** Footer **/

footer {
    background-color: #085394;
    /* position: fixed;
    bottom: 0; */
    /* width: 100%; */
    border: 2px solid #274e13;
}
footer p {
    text-align: center;
}
@media only screen and (min-width:1100px) {
    footer {
        /* height: 9vh; */
    }
}

/** INICIO DE SESIÓN */

div.contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 125px
                        1fr
                        96px;
    row-gap: 10px;
}
@media only screen and (min-width:410px) {
    div.contenedor {
        grid-template-rows: 78px
                            1fr
                            73px;
    }
}
@media only screen and (min-width:1100px) {
    div.contenedor {
        grid-template-rows: 11vh
                            1fr
                            11vh;
    }
}
.contenedor-principal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.contenido {
    background-color: #9fc5f8;
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
    padding: 25px 10px;
    border: 2px solid #085394;
}
div.contenido h2 {
    margin: 0 0 30px;
}
form label {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}
label span {
    background-color: #6fa8dc;
    border: 2px solid #274e13;
}
span.usuario{
    padding: 0 20px;
}
span.contraseña {
    padding: 0 7px;
}
label input {
    border: 2px solid #6aa84f;
    padding: 5px;
    margin: 10px 20px 0;
}
.button {
    background-color: #6aa84f;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 4px 20px;
    border: 2px solid #274e13;
}
.button:hover {
    background-color: #274e13;
    cursor: pointer;
}
.button:active {
    transform: scale(.9);
}

/** PÁGINA PRINCIPAL **/

div.contenedor-index {
    row-gap: 0;
}
@media only screen and (min-width:590px) {
    div.contenedor-index {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 78px
                            33px
                            1fr
                            73px;
    }
    header.header-index, div.pagina-actual {
        grid-column: 1 / 3;
    }
    section {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    aside {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

}
div.pagina-actual {
    background-color: #999999;
    border: 2px solid #085394;
}
section {
    text-align: center;
}
ul.menu-principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
ul.menu-principal li a {
    width: 170px;
    height: 70px;
    background-color: #9fc5f8;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    border: 2px solid #274e13;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px 10px 10px; */
}
ul.menu-principal li {
    /* float: left; */
    padding: 10px;
}
@media only screen and (min-width:590px) {
    ul.menu-principal li {
        /* width: 50%; */
    }
}
@media only screen and (min-width:800px) {
    ul.menu-principal li {
        /* width: 33.3%; */
    }
}
aside {
    background-color: #597eaa;
    text-align: center;
    /* height: 360px; */
    /* width: 100%; */
    border: 2px solid #085394;
}
aside img {
    width: 130px;
    margin-top: 10px;
}
aside p.nombre {
    font-size: 1em;
    /* font-weight: bold; */
}
aside p.cargo {
    font-size: 1.2em;
}
aside button.button {
    width: 105px;
    padding: 2px 0px;
    margin-top: 10px;
}
@media only screen and (max-width:370px) {
    /* aside .seccion {
        padding-bottom: 105px;
    } */
}
@media only screen and (min-width:590px) {
    /* div.contenedor-index {
        display: flex;
        flex-flow: row-reverse wrap;
    } */
    aside {
        /* height: 79vh; */
        /* float: left; */
        /* width: 180px; */
        border-top: none;
    }
    section {
        /* float: right; */
        /* width: 65%; */
    }
    section a {
        text-align: center;
    }
}
