/** GENERALES */

html {
    box-sizing: border-box;
    height: 100%;
  }
  *,*:before,*:after {
    box-sizing: inherit;
  }
* {
    margin: 0;
    padding: 0;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
body {
    background-color: #6fa8dc;
    font-family: cursive;
    height: 80%;
}
header {
    background-color: #085394;
    height: 80px;
    width: 100%;
    border: 2px solid #274e13;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.formulario {
    position: fixed;
    top: 0;
}
h1 {
    margin-right: 2%;
}
header img {
    width: 130px;
    margin-left: 2%;
}
h2 {
    text-align: center;
}
ul {
    list-style: none;
}
footer {
    background-color: #085394;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #274e13;
}
/* footer.formulario {

} */
footer p {
    text-align: center;
}

/** INICIO DE SESIÓN */

.contenedor-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.contenido {
    background-color: #9fc5f8;
    width: 95%;
    margin: 0 auto;
    height: 300px;
    padding: 25px;
    border: 2px solid #085394;
}
div.contenido h2 {
    margin: 15px 0 40px;
}
form label {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}
label span {
    background-color: #6fa8dc;
    border: 2px solid #274e13;
    margin-right: 20px;
}
span.usuario{
    padding: 0 20px;
}
span.contraseña {
    padding: 0 7px;
}
label input {
    border: 2px solid #6aa84f;
    padding: 5px;
}
.button {
    background-color: #6aa84f;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 4px 20px;
    /* border: none; */
    border: 2px solid #274e13;
}
.button:hover {
    background-color: #274e13;
    cursor: pointer;
}
.button:active {
    transform: scale(.9);
}
@media only screen and (min-width:500px) {
    h1 {
        margin-right: 30px;
    }
    header img {
        margin-left: 30px;
    }
    div.contenido {
        width: 400px;
    }
}

/** PÁGINA PRINCIPAL **/

div.contenido-actual {
    background-color: #999999;
    border: 2px solid #085394;
}
main {
    height: 100%;
}
div.contenedor {
    height: 100%;
}
section {
    text-align: center;
}
section a {
    width: 170px;
    height: 70px;
    background-color: #9fc5f8;
    display: inline-block;
    margin: 20px 10px 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    padding-top: 17px;
    border: 2px solid #274e13;
}
section a:nth-child(5) {
    padding-top: 2px;
    /* float: left; */
    /* left: 33px; */
}
section a:nth-child(6) {
    /* margin-top: 2px; */
}
aside {
    background-color: #597eaa;
    text-align: center;
    height: 360px;
    border: 2px solid #085394;
}
aside img {
    width: 130px;
    margin-top: 25px;
}
aside p.nombre {
    font-size: 1em;
    /* font-weight: bold; */
}
aside p.cargo {
    font-size: 1.2em;
}
aside button.button {
    width: 105px;
    padding: 2px 0px;
    margin-top: 10px;
}
@media only screen and (min-width:590px) {
    aside {
        height: 100%;
        float: left;
        width: 180px;
        border-top: none;
    }
    section {
        float: right;
        width: 70%;
    }
    section a {
        text-align: center;
    }
}

/** PÁGINA CLIENTES**/

ul.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
}
ul.contenedor-botones a img{
    width: 30px;
}

table.clientes tr {
    background-color: antiquewhite;
}
